data/*
src/__pycache__/
src/.ipynb_checkpoints/
src/Untitled*
.ipynb_checkpoints/
Untitled*
*.log*
data/*
fcsts/src/__pycache__/*
fcsts/src/.ipynb_checkpoints/*
fcsts/src/__pycache__/subx_utils.cpython-310.pyc
src/__pycache__/
src/.ipynb_checkpoints/
src/Untitled*
.ipynb_checkpoints/
Untitled*
*.log*
*Debug*
